@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Gravitas+One&display=swap');
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #141414;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #cabdbd;
  text-decoration: inherit;
}
a:hover {
  color: #cabdbd;
}

body,html {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}

h1 {
  font-size: 2em;
  line-height: 1.1;
  font-weight: 00;
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

body {
  font-family: "Alfa Slab One", serif;
  font-weight: 400;
  font-style: normal;
}

.nav-bar {
  position: fixed;
  width: 100vw;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: right;
  padding-inline: 2rem;
  padding: 2rem;
  z-index: 1000;
  pointer-events: auto;
}

.nav-bar ul{
  list-style-type: none;
  margin: 0; 
  padding: 0;
  overflow: hidden;
  font-size: 1.5em;
}

.nav-bar li{
  float: left;
  padding: 2rem;
}

.nav-bar li:hover a{
  text-decoration: underline;
}


.title-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  color: #cabdbd;
  width: 98vw;
}


.title-bar h1 {
  margin-bottom: .25em;
  font-size: 6em;
}

.title-bar h2 {
  margin-top: .25em;
  font-size: 3em;
}

.title-bar h3 {
  position: absolute;
  bottom: 2rem;
  font-size: 3em;
  animation: bounce 2s infinite;
}

.content {
  margin-left: 1rem;
  margin-right: 1rem;
}

.content img{ 
  border-radius: 10px;
}

.footer {
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  color: #cabdbd;
}

.nav-bar li a{
  text-decoration: none;
}

.nav-bar li:hover a{
  text-decoration: underline;
}

