@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #141414;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body,html {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}

h1 {
  font-size: 2em;
  line-height: 1.1;
  font-weight: 00;
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


.nav-bar {
  position: relative;
  margin-left: 1rem;
  color: #dadada;
  height: 20vh;
  width: 98vw;
}


.nav-bar h1 {
  font-size: 2.5em;
  justify-content: left;
  font-family: 'Permanent Marker', cursive;
  margin-block: 0.2em;
  max-width: 50vw;
}

.nav-bar ul {
  list-style: none;
  font-size: 2em;
  font-family: 'Permanent Marker', cursive;
  display: flex;
  justify-content: center;
}
.nav-bar ul li {
  display: inline;
  margin-inline: 1rem;
}
.nav-bar h3 {
  font-size: 1.5em;
  font-family: 'Permanent Marker', cursive;
  display: flex;
}

.content {
  margin-left: 1rem;
  margin-right: 1rem;
}

.content img{
  border-radius: 10px;
}